
.example-card {
    max-width: 800px;
}
  
.example-card-footer {
    padding: 16px;
}

.mat-mdc-card-outlined {
    background-color: var(--mdc-outlined-card-container-color, var(--mat-sys-surface));
    border-radius: var(--mdc-outlined-card-container-shape, var(--mat-sys-corner-medium));
    /* border-width: var(--mdc-outlined-card-outline-width, 1px); */
    border-color: var(--mdc-outlined-card-outline-color, var(--mat-sys-outline-variant));
    box-shadow: var(--mdc-outlined-card-container-elevation, var(--mat-sys-level0));
}